@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, sans-serif;
    line-height: 1.5;
}

body {
    color: rgb(36, 62, 99);
    padding: 2rem;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: rgb(36, 62, 99);
}

li {
    list-style: none;
}

.purple {
    color: rgb(100, 21, 255);
}

h1 {
    font-size: 36px;
    color: rgb(26, 32, 44);
}

h2 {
    font-size: 3rem;
    font-weight: 900;
}


h5 {
    font-size: 1rem;
    letter-spacing: 1.6px;
}

p {
    color: rgb(124, 139, 161);
}


/* 

NAVIGATION 

*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    width: 40px;
}

nav a {
    font-weight: bold;
}



.nav__logo--container {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
}

.nav__logo--image {
    margin-right: 24px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    display: inline-block;
    font-weight: 600;
    margin: 0 24px;
    padding: 0 0 4px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;

    &:hover {
        color: rgb(100, 21, 255);
        border-bottom: 2px solid rgb(100, 21, 255);
    }
}

.nav__link--login {
    margin-left: 3rem;
}

.nav__link--signup {
    background-color: rgb(100, 21, 255);
    color: white;
    padding: 12px 32px;
    border-radius: 30px;
    font-weight: 700;
    cursor: not-allowed;
}

/*

LANDING PAGE

*/

#landing {
    padding: 6rem 0;
}

#landing .row {
    display: flex;
}

.landing__content {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.landing__image--container {
    width: 60%;
}

.landing__image {
    width: 100%;
}

.landing__image--customers {
    width: 100%;
    opacity: 0.5;
}

.landing__content--trusted-customers {
    color: rgb(160 174 192/1);
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.landing__content--para {
    font-size: 18px;
    margin: 2rem 0;
    line-height: 24px;
    color: rgb(36, 62, 99);
}

.landing__content--cta-container {
    position: relative;
    margin-bottom: 5rem;
    max-width: 28rem;
    text-align: center;
}


.landing__content--input {
    width: 100%;
    border: 2px solid rgb(226, 232, 240);
    padding: 20px 192px 20px 32px;
    border-radius: 32px;
}

.landing__content--button {
    position: absolute;
    margin: 8px 0;
    width: 10rem;
    line-height: 1;
    background-color: rgb(100 21 255/1);
    color: white;
    font-weight: 700;
    padding: 1rem 0;
    border: 0 solid transparent;
    border-radius: 32px;
    font-size: 16px;
    top: 0;
    right: 8px;
    cursor: not-allowed;
}

/* 

FEATURES 

*/

.features__title--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__title--title {
    letter-spacing: 0.025rem;
}

.features__title--para {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(124, 139, 161);
    line-height: 1.625;
    max-width: 36rem;
    margin-bottom: 40px;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 32px 8px;
}

.service__img--container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid rgb(226, 232, 240);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.service__img {
    height: 24px;
    width: 24px;
}


.service__description {
    display: flex;
    flex-direction: column;
    margin: 8px 16px;
}

.service__title {
    font-size: 1.5rem;
    line-height: 1;
}

.service__para {
    line-height: 2;
    margin-top: 16px;
    width: 90%;
    font-weight: 500;
}

/* 

QUALITY WORK 

*/

.qualityWork__container {
    display: flex;
}

.qualityWork__content {
    width: 50%;
    margin-right: 64px;
    display: flex;
    flex-direction: column;
}

.qualityWork__image--container {
    width: 50%;
    display: flex;
    align-items: center;
}

.qualityWork__image {
    width: 100%;
    border: 1px solid rgb(226, 232, 240);
}

.qualityWork__title {
    line-height: 60px;
    margin-top: 16px;
}

.qualityWork__para {
    margin-top: 16px;
    font-size: 18px;
    line-height: 1.625;
}

.qualityWork__button {
    margin-top: 32px;
    width: 142px;
    line-height: 21px;
    background-color: rgb(100 21 255/1);
    color: white;
    font-weight: 700;
    padding: 12px 32px;
    border: 0 solid transparent;
    border-radius: 32px;
    font-size: 14px;
    cursor: not-allowed;
}


/* 

STEPS 

*/

.steps__content--wrapper {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-left: 64px;
}

.steps__image--wrapper {
    width: 50%;
}

.steps__image {
    max-width: 100%;
}

#steps .row {
    display: flex;
    align-items: center;
}

.steps {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    width: 100%;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step__number {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    color: rgb(200, 213, 224);
}

.step__content {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.step__content--title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.step__content--para {
    margin-top: 12px;
    line-height: 2;
}


/* 

VALUES 

*/

.values__container {
    display: flex;
}

.values__image--container {
    display: flex;
    align-items: center;
    width: 50%;
}

.values__image--image {
    width: 100%;
}

.values__content--container {
    width: 50%;
    margin-right: 64px;
}

.values__content--para {
    margin: 32px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}

.principles__header {
    display: flex;
    align-items: center;
}

.principles__title {
    font-size: 20px;
    margin-left: 12px;
}

.principles__affordable--moneysign {
    color: rgb(39, 103, 73);
    background-color: rgb(154, 230, 180);
    padding: 8px;
    border-radius: 50%;
    font-size: 20px;
}

.principles__affordable--para {
    line-height: 26px;
}

.principles__professionalism--briefcase {
    color: rgb(155, 44, 44);
    background-color: rgb(254, 178, 178);
    padding: 8px;
    border-radius: 50%;
    font-size: 20px;
}

.values__principles--container {
    display: flex;
    margin-bottom: 40px;
}

.principles__affordable--container {
    margin-right: 32px;
}

.principles__professionalism--container {
    width: 50%;
}

.principles__professionalism--para {
    line-height: 26px;
}

.values__learn-more-btn {
    width: 142px;
    line-height: 21px;
    background-color: rgb(100 21 255/1);
    color: white;
    font-weight: 700;
    padding: 12px 32px;
    border: 0 solid transparent;
    border-radius: 32px;
    font-size: 14px;
    cursor: not-allowed;
}

/*

PRICING 

*/

.pricing__header--subtitle {
    text-align: center;
}

.pricing__header--title {
    text-align: center;
}

.pricing__header--para {
    width: 100%;
    text-align: center;
    max-width: 576px;
    margin: 0 auto;
}

/* 

PLANS 

*/

.plans {
    display: flex;
    flex-wrap: wrap;
}

.plan {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    border-radius: 8px;
    margin-top: 64px;
    padding: 8px 32px 0px 32px;
}

.plan__header {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__header--title {
    font-size: 20px;
    color: rgb(26, 32, 44);
}

.plan__header--price {
    font-size: 48px;
    color: rgb(26, 32, 44);
    font-weight: 700;
    margin: 4px 0;
}

.plan__header--monthly {
    margin: 0;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.plan__features {
    text-align: center;
    border-top: 2px solid rgb(226, 232, 240);
    border-bottom: 2px solid rgb(226, 232, 240);
    padding: 32px;
    width: calc(100% + 64px);
}

.plan__features .feature--header {
    font-weight: 700;
    color: rgb(26, 32, 44);
    font-size: 20px;
    letter-spacing: 0.5px;
}

.feature {
    margin-top: 20px;
    font-weight: 500;
}


.plan__call-to-action {
    padding: 32px;
}

.call-to-action__buy-now-button {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border-radius: 30px;
    padding: 16px 0;
    font-size: 14px;
    color: white;
    border: none;
    letter-spacing: 0.05em;
    width: 155px;
    font-weight: 700;

}